.header{
    // background-color: pink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;


    justify-content: space-between;
    padding: 10px 50px;
    .header__title{
        // background-color: blue;
        letter-spacing: 2px;
        color: rgb(78, 78, 78);
    }

    .header_connect{
        

        a{
            color: black;
            text-decoration: none;
            font-size: 1.2rem;

            &:hover{
                text-decoration: underline;
            }

        }
       
    }
}


@media screen and (max-width: 768px){
    .header{
        position: fixed;
        background-color: white;
        box-shadow: 0px 0px 6px #00000063;
        top: 0;
        padding: 10px 10px;
        height: 70px;
        .header_connect{
            display: none;
    
        }
    }
    
}