.nav_menu{
    position: sticky;
    background-color: rgba(255, 255, 255, 0.938);
    height: 50px;
    display: flex;
    flex-direction: row;
    @media screen and (min-width:800px){border-bottom: 1px solid rgba(0, 0, 0, 0.363);}
    top: 0; 
    z-index: 1001;

    .menuBurguer{
        display: none;
        
    }
    
}

.nav_menu__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @media screen and (min-width:800px){height: 100%;}
    // background-color: pink;
    

    transition: all 0.8s ease;
    .nav_menu__item{
        list-style-type: none;
        
        .nav_menu__link{
            text-decoration: none;
            color: black;
            font-size: 1.1rem;
            letter-spacing: 2px;
        }
    }
}

.check{
    display: none;
}

@media screen and (max-width: 768px)
{
    .nav_menu{

        background-color: transparent;

        .nav_menu__list{
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            padding: 0;
            align-items: center;
            flex-direction: column;
            z-index: 1004;
            background-color: rgb(245, 245, 245);
            box-shadow: 0px 6px 32px 5px rgba(0,0,0,0.09);
            .nav_menu__item{
                margin: 15px 0;
            }
        }
    
        .menuBurguer{
            position: absolute;
            font-size: 2rem;
            top: 20px;
            right: 65px;
            display: block;
            transition: 0.8s ease all;
            z-index: 1005;

        }
        .check{
            display: block;
            position: fixed;
            right: 10%;
            opacity: 0;
            z-index: 1006;
            top: 3%;
            width: 30px;
            height: 30px;
            &:checked ~ .nav_menu__list{
                transform: translateX(100%);
    
            }

            
        }
       
    }
    
}

@keyframes click{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(0.8);
    }

    100%{
        transform: scale(1)
    }
}


.animate{
    transform:  skew(40deg);
}